### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [166]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
    color: black !important;
}
</style>

In [167]:
# Dependencies and Setup
import pandas as pd
from scipy.stats import mode
from IPython.display import display

In [168]:

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [169]:
Total_Players = purchase_data['SN'].unique()

Total_Players = len(Total_Players)

summary_table = pd.DataFrame([{'Total Players': Total_Players}])
summary_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [170]:
num_uni_item = len(purchase_data['Item ID'].unique())

avg_price = round(purchase_data['Price'].mean(),2)

num_purchases = purchase_data['Purchase ID'].count()

total_rev = round(purchase_data['Price'].mean()*num_purchases,2)

summary_table = pd.DataFrame([{'Number of Unique Items': num_uni_item,'Average Price':'$'+ str(avg_price),
                               'Number of Purchases':num_purchases,
                               'Total Revenue':'$'+ str(total_rev)}])
summary_table

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [171]:

total_count_gender= purchase_data.groupby('Gender').nunique()['SN']

percentage_count = round((total_count_gender/Total_Players)*100,2)


summary_table = pd.DataFrame({"Total Count": total_count_gender,
                              "Percentage of Players": percentage_count
    
                                   })
summary_table['Percentage of Players'] =  summary_table['Percentage of Players'].map("{:.2f}%".format)                           

summary_table.reset_index(inplace=True)
summary_table

                  Gender  Total Count Percentage of Players
0                 Female           81                14.06%
1                   Male          484                84.03%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [172]:
purchase_count = purchase_data.groupby('Gender').nunique()['Purchase ID']
purchase_count

purchase_price_avg = purchase_data.groupby('Gender')['Price'].mean()
purchase_price_avg

purchase_total = purchase_data.groupby('Gender')['Price'].sum()
purchase_total

purchase_total_avg = purchase_data.groupby('Gender')['Price'].sum()/purchase_data.groupby('Gender').nunique()['SN']

summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": purchase_price_avg,
                              "Total Purchase Value": purchase_total,
                              "Avg Total Purchase per Person": purchase_total_avg
    
                                   })
summary_table['Average Purchase Price'] = summary_table['Average Purchase Price'].map("${:.2f}".format)

summary_table['Total Purchase Value'] = summary_table['Total Purchase Value'].map("${:.2f}".format)

summary_table['Avg Total Purchase per Person'] = summary_table['Avg Total Purchase per Person'].map("${:.2f}".format)


summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [173]:
num_max = purchase_data['Age'].max()
num_max=45
num_min = purchase_data['Age'].min()
num_min=7


bins = [0,9,14,19,24,29,34,39,45]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19","20-24", "25-29","30-34","35-39","40+"]

pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data["Age Ranges"]

total_count_age_group = purchase_data.groupby("Age Ranges").nunique()['SN']

percentage_players = total_count_age_group /Total_Players*100


summary_table = pd.DataFrame({"Total Count": total_count_age_group,
                              "Percentage of Players": percentage_players
                            
                             })

summary_table['Percentage of Players'] = summary_table['Percentage of Players'].map("{:.2f}%".format)

summary_table

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [174]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_count = purchase_data.groupby("Age Ranges").nunique()["Purchase ID"]

total_purchase_price = purchase_data.groupby("Age Ranges")["Price"].sum()

avg_purchase_price = purchase_count/total_purchase_price

avg_total_purchase_person = total_purchase_price/purchase_data.groupby("Age Ranges").nunique()['SN']

summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": avg_purchase_price,
                              "Total Purchase Value": total_purchase_price,
                              "Avg Total Purchase per Person": avg_total_purchase_person
    
                                   })
summary_table['Average Purchase Price'] = summary_table['Average Purchase Price'].map("${:.2f}".format)

summary_table['Total Purchase Value'] = summary_table['Total Purchase Value'].map("${:.2f}".format)

summary_table['Avg Total Purchase per Person'] = summary_table['Avg Total Purchase per Person'].map("${:.2f}".format)


summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$0.30,$77.13,$4.54
10-14,28,$0.34,$82.78,$3.76
15-19,136,$0.33,$412.89,$3.86
20-24,365,$0.33,$1114.06,$4.32
25-29,101,$0.34,$293.00,$3.81
30-34,73,$0.34,$214.00,$4.12
35-39,41,$0.28,$147.67,$4.76
40+,13,$0.34,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [175]:

purchase_count_sn = purchase_data.groupby('SN').nunique()["Purchase ID"]



# purchase_count_sn = purchase_data.groupby('SN')
# dfb=purchase_count_sn["Purchase ID"].count()

total_purchase_price = purchase_data.groupby("SN")["Price"].sum()
total_purchase_price

avg_total_purchas_price = purchase_count_sn/total_purchas_price
avg_total_purchas_price

summary_table = pd.DataFrame({"Purchase Count": purchase_count_sn,
                              "Average Purchase Price": avg_total_purchas_price,
                              "Total Purchase Value": total_purchas_price,
                             })

summary_table = summary_table.sort_values('Total Purchase Value', ascending=False)

summary_table['Average Purchase Price'] = summary_table['Average Purchase Price'].map("${:.2f}".format)

summary_table['Total Purchase Value'] = summary_table['Total Purchase Value'].map("${:.2f}".format)

summary_table.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $0.26               $18.96
Idastidru52               4                  $0.26               $15.45
Chamjask73                3                  $0.22               $13.83
Iral74                    4                  $0.29               $13.62
Iskadarya95               3                  $0.23               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [229]:
# how I can get the price based on purchsed ID or Item ID directly since 
# I aldready have it so I dont have to get the total price and then divide it by purchase count to get price of each item

item_data = purchase_data[['Item ID','Item Name','Price']]

item_grouped = item_data.groupby(['Item ID','Item Name'])

purchase_count = item_grouped['Price'].count()

total_item_price = item_grouped['Price'].sum()

each_item_price = total_item_price / purchase_count

summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Item Price": each_item_price,
                              "Total Purchase Value": total_item_price,
                             })

summary_table = summary_table.sort_values('Purchase Count', ascending=False)

summary_table['Item Price'] = summary_table['Item Price'].map("${:.2f}".format)

summary_table['Total Purchase Value'] = summary_table['Total Purchase Value'].map("${:.2f}".format)

summary_table.head(20)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
34,Retribution Axe,8,$2.22,$17.76
92,Final Critic,8,$4.88,$39.04
53,Vengeance Cleaver,7,$2.05,$14.35
110,Suspension,7,$1.44,$10.08
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
71,Demise,7,$1.61,$11.27
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
85,Malificent Bag,7,$1.75,$12.25

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [236]:
item_data = purchase_data[['Item ID','Item Name','Price']]

item_grouped = item_data.groupby(['Item ID','Item Name'])

purchase_count = item_grouped['Price'].count()

total_item_price = item_grouped['Price'].sum()

each_item_price = total_item_price / purchase_count

summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Item Price": each_item_price,
                              "Total Purchase Value": total_item_price,
                             })

summary_table = summary_table.sort_values('Total Purchase Value', ascending=False)

summary_table['Item Price'] = summary_table['Item Price'].map("${:.2f}".format)

summary_table['Total Purchase Value'] = summary_table['Total Purchase Value'].map("${:.2f}".format)

summary_table.head(20)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
141,Persuasion,7,$3.19,$22.33
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56